@import './ionic/card.scss';
@import './ionic/input.scss';
@import './ionic/modals.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

#app {
	--ion-background-color: rgb(230, 238, 245);
	font-family: Roboto;
}

ion-toolbar {
	--background: white;
	height: 60px;
	display: flex;
	align-items: center;
} 

.wideButton {
	width: 250px;
	height: 36px;
	margin: auto !important;
}

.txtCenter {
	text-align: center;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 600px;
	padding: 0 20px;
	margin: auto;
	background: aqua;
}

.width-100 {
	width: 100%;
	min-height: 300px;
}

.all-100 {
	width: 100%;
	height: 100%;
}

img {
	/* object-fit: cover; */
	display: block;
}

ion-col {
	padding: 9px 8px 14px;
}

.noOverflow {
	overflow: hidden;

	ion-spinner {
		margin: 5px auto 0 !important;
		width: 100%;
		height: 110px;
	}
}

.appear-enter-from {
	opacity: 0.1;
	transform: scale(0.8);
}

.appear-enter-active {
	transition: 0.5s;
}

@media(max-width: 800px) {
	.container {
		padding: 0 4px;
	}
}