@import './ionic/card.scss';
@import './ionic/ion-modal.scss';
@import './ionic/input.scss';
@import './universal/spacing.scss';
@import './universal/width-height.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

#app {
	font-family: Roboto;
}

.d-flex {
	display: flex;
}

.margin-auto {
	margin: auto;
}

.w-fit {
	width: fit-content;
}

.h-fit {
	height: fit-content;
}